[Unit]
Description=PinCabOS restore temporarily hidden PuP-Pack folders
After=local-fs.target
Before=pincabos-vpinfe.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pincabos-hybrid-pup-mode recover

[Install]
WantedBy=multi-user.target
